PORT=4000
NODE_ENV=development

DATABASE_URL="postgresql://sms:sms_dev_password@localhost:5432/sms_dev"
REDIS_URL="redis://localhost:6379"

JWT_ACCESS_SECRET="change-me-access"
JWT_REFRESH_SECRET="change-me-refresh"

CORS_ORIGIN="http://localhost:3000"
